# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science

- List commonly used libraries used by Data Scientists

- List some Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. SQL

4. Julia

5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy

2. Pandas

3. Matplotlib

4. TensorFlow

5. Scikit-learn

|  Data Science Tools   |
|:---------------------:|
|   Jupyter Notebook    | 
|   RStudio             |   
|   Apache Spark        |
|   Tableau             |
|   SAS                 |
|   KNIME               |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
In_hours = 200/60
print(In_hours)

3.3333333333333335

## Author

Jhanvi Mundra